*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url("../public/rooms.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.ft {
  font-weight: bold;
}

.sm {
  font-size: x-small;
}

.cl {
  color: #ffffff;
}

.lg {
  font-size: xx-large;
}

/* this is for the navbar styling (nav1) */
.Nav .nav1{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.navLogo h1{
  color: #ffffff;
}

.features{
  display: flex;
  gap: 20px;
}

.features a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.srch {
  display: flex;
  gap: 10px;
}

.srch .fa-regular, 
.srch .fa-solid{
  color: black;
  background-color: #ffffff;
  border-radius: 50%;
  width: 25px;
  height: 30px;
  padding: 5px;
}

.srch .book{
  color: black;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 20px;
  width: 70px;
  text-decoration: none;
  height: 30px;
}

/* this is for the navbar styling (nav2) */ 

.nav2{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.nav2-location {
  display: grid;
  grid-template-columns: 1fr;
}

.nav2 .nav2-location .sect1  {
  display: flex;
  gap: 15px;
  margin-left: 35%;
}

.nav2 .nav2-location .sect1 .lct{
  background-image: url(./Assets/united-states-map-with-state-capitals.gif);
  background-size: 120px;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 90px;
  background-color: #ffffff;
  gap: 8px;
  border: none;
  border-radius: 14px;
  height: 50px;
}

.nav2 .nav2-location .sect1 .lct a {
  text-decoration: none;
}

.nav2 .nav2-location .sect1 .lct a .ft {
  color: black;
}

.nav2 .nav2-location .sect1 .fa-house, 
.nav2 .nav2-location .sect1 .fa-calendar {
  color: #ffffff;
  opacity: 0.7;
  border: solid 1px #ffffff;
  border-radius: 50%;
  padding: 4px;
  margin: 9px 4px 0 0;
}

.nav2-feedback {
  display: grid;
  grid-template-columns: 1fr;
}

.nav2-feedback p .bold{
  font-weight: bold;
}

.nav2-feedback .feedback2 {
  border: solid 1px #ffffff;
  border-radius: 50%;
  height: 135px;
  width: 120px;
}

.nav2-feedback .feedback2 a {
  text-decoration: none;
}

.nav2-feedback .feedback2 p{
  background-color: #ffffff;
  border-radius: 50%;
  height: 125px;
  padding: 20px;
  width: 110px;
  margin: 4px 0 0 4px;
  color: black;
}

.nav2-conf {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px;
}

.nav2-conf .one{
  display: flex;
  justify-content: space-between;
}

.nav2-conf .d1{
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.two {
  background-color: grey;
  border-radius: 10px;
  opacity: 0.9;
  margin-top: 10px;
}

.two1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.two2 {
  display: flex;
  justify-content: space-around;

}

.two2 .fa-brands,
.two2 .fa-solid {
  border: solid 1px black;
  width: 70px;
  margin-bottom: 8px;
  border-radius: 10px;
  padding: 2px;
  color: black;
}

/* this is for the navbar styling (nav3) */ 

.nav3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.nav3-right {
  border: solid 1px #ffffff;
  margin: 10px 20px 0 0;
  padding: 20px 20px 0 20px; 
  border-radius: 10px;
}

.nav3 .right1 {
  display: flex;
  justify-content: space-around;
  height:65px;
  background-color: #ffffff;
  border-radius: 15px;
}

.nav3 .right1 section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav3 .d2 {
  width: 50px;
  height: 50px;
  padding: 3px;
  margin-top: 9px;
  border-radius: 15px;
}

.right2 {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 15px;
  padding-top: 5px;
  margin-top: 3px;
}

.nav3 .pay {
  border: solid 1px grey;
  width: 50px;
  height: 26px;
  border-radius: 8px;
  text-decoration: none;
  color: grey;
}

.nav3 .right2 p {
  font-weight: bold;
  font-size: x-small;
  /* padding: 5px; */
  text-align: center;
}

.nav3 .right2 .cfm {
  text-decoration: none;
  background-color: black;
  height: 20px;
  width: 80px;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 3px;
  padding-top: 2px;
  font-size: x-small;
}

.right3 {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.nav3 .details {
  background-color: #ffffff;
  width: 120px;
  border-radius: 10px;
  text-decoration: none;
  padding: 9px;
  color: black;
  font-weight: bold;
  font-size: small;
}

.info {
  color: #ffffff;
  text-decoration: none;
  border: solid 1px #ffffff;
  border-radius: 10px;
  padding: 9px;
}

.nav3 .nav3-left .cl {
  font-weight: bolder;
  font-size: 70px;
  margin-bottom: ;
}